:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --button-background-color: #1a1a1a;
  --button-text-color: #fdfcfc;
  --small-spacing: 8px;
}

body {
  margin: var(--small-spacing);
}

:root[theme="light"] {
  color: #213547;
  background-color: #ffffff;
  --button-background-color: #f9f9f9;
  --button-text-color: #000000;
}
