<html lang="en">
    <head>
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
        <link rel="stylesheet" href="/static/index.css"/>
    </head>

    <body>
        <main>
            <header>
                <ul id="stock-list"></ul>
            </header>
            <section>
                <div id="counter"
                    hx-trigger="load, counterChange from:body"
                    hx-get="/counter"
                >
                        0
                </div>
                <button
                    hx-post="/decrease"
                    hx-swap="none"
                    id="decrease"
                >
                    Decrease -
                </button>
                <button
                    hx-swap="none"
                    hx-post="/increase"
                    id="increase"
                >
                    Increase +
                </button>
            </section>
        </main>
    </body>